<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>e-typing Ranking Scripting</title>
</head>
<body>


<h1>e-typingのランキングをヒストグラムにします。</h1>
<form action="/" method="POST">
    <label>
        <input type="number" name="num" placeholder="Enter number" style="width: 200px;height: 100px">
    </label>
    <input type="submit" value="回のスコアを表示" style="width: 150px;height: 40px">

    <p></p>

    <button type = "submit" name = "action" value = "submit1"
            style="width: 200px;height:100px;font: 10pt 'Toppan Bunkyu Midashi Mincho'">ユーザー情報
    </button>
    <p></p>

    <label>
        <input type="text" name="name" placeholder="Enter name" style="width: 200px;height: 100px">
    </label>
    <input type="submit" value="さんの過去のスコアをグラフ化" style="width: 400px;height: 40px">

</form>


</body>
</html>